* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

section {
  padding: 70px 0 130px 0;
  transition: 0.6s ease-in-out;
}

.dark {
  background: #24292d;
}

h1,
h2 {
  text-align: center;
  /* background: linear-gradient(to right, #090a0a, #c8cece); */
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  font-weight: 900;
  z-index: 100;
}

h1 {
  margin: 70px 0;
  font-size: 70px;
}

h2 {
  font-size: 35px;
  margin: 15px 10px 25px 10px;
}

.dark h1,
.dark h2 {
  color: #c8cece;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark .box {
  background: #323840;
}

.box {
  width: 350px;
  height: 530px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 25px;
  margin: 25px;
  transition: 0.6s ease-in-out;
  flex-wrap: wrap;
}

img {
  width: 290px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

.container p {
  line-height: 1.4;
  margin: 25px 10px 10px;
  font-size: 18px;
  font-weight: 900;
  z-index: 100;
}

.dark p {
  color: #c8cece;
}

a {
  text-decoration: none;
}
/* 
.dark a {
  color: #fff;
} */

button {
  font-family: "Lato", san-serif;
  font-weight: bolder;
  display: block;
  margin: 0 auto;
  margin-top: 70px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  background: white;
  color: black;
  font-size: 18px;
  padding: 20px 30px;
  transition: 0.6s ease-in-out;
}

button:hover {
  background: #323840;
  color: #fff;
}

.dark button {
  background: #323840;
  color: #c8cece;
  transition: 0.6s ease-in-out;
}

.dark button:hover {
  background: #c8cece;
  color: #323840;
}

.dark .toggle {
  background: #323840;
  color: #c8cece;
}

.toggle {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 45px;
  height: 45px;
  font-size: 20px;
  background: #ddd;
  color: #323840;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.toggle:before {
  content: "\f186";
  font-family: fontAwesome;
}

.dark .toggle:before {
  content: "\f0a3";
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}
